:root {
  --primary-color: #7de2d1;
  --secondary-color: #339989;
  --tertiary-color: #2b2c28;
  --black: #131515;
  --white: #fffafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.5%;
}

body {
  max-width: 70rem;
  height: 100vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  font-family: "Montserrat", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
nav,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;
}

header :first-child {
  color: var(--primary-color);
}

nav {
  gap: 1rem;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: ease-in-out 0.2s;
}

a:hover {
  color: var(--primary-color);
  filter: brightness(0.9);
}

a.active,
a.active:hover {
  cursor: default;
  color: var(--primary-color);
  filter: none;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  gap: 2.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.content-text {
  max-width: 593px;
  
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  font-family: "Krona One", sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 3.5rem;
}

h1 span {
  color: var(--primary-color);
}

.content p {
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.content p span {
  color: var(--primary-color);
}

.content-image {
  width: 100%;
}

.buttons {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  width: 100%;
  height: 4rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--white);
}

.button:hover {
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--black);
  filter: brightness(0.9);
}

img {
  width: 100%;
  max-width: 30rem;

  border-radius: 1rem;
}

.about {
  font: 300 1.5rem "Montserrat";
  line-height: 2.25rem;
}

footer {
  width: 100%;
  padding: 2rem;
}
